<h1><%= params[:address] %></h1>

<p> The current temperature at <%= params[:address] %>, <%= @temperature %> is degrees. </p>

<p> The outlook for the next hour is: <%= @hour_outlook %> for the hour. </p>

<p> The outlook for the next day is: <%= @day_outlook %> starting tomorrow morning. </p>
